<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "web-app_2_3.dtd">

<web-app>
	<servlet>
		<servlet-name>launcher</servlet-name>
		<servlet-class>com.pe.web.servlet.Launcher</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- DWR -->
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/script/dwr/*</url-pattern>
	</servlet-mapping>
	
	<!-- 分析pe文件的Servlet -->
	<servlet>
		<servlet-name>parser</servlet-name>
		<servlet-class>com.pe.web.servlet.ParserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>parser</servlet-name>
		<url-pattern>/servlet/parser</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
