/**
body {
	font-size: 12px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	position:relative;
	font-family: "宋体", "Times New Roman";
}

a:link {font-family: Arial, Helvetica, sans-serif; font-size: 12px;	color: #000000;	text-decoration: none;}
a:visited {font-family: Arial, Helvetica, sans-serif; font-size: 12px;	color: #000000;	text-decoration: none;}
a:hover {font-family: Arial, Helvetica, sans-serif;	font-size: 12px; color: #FF0000; text-decoration: none;}
a:active {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FF0000; text-decoration: none;}
*/
form{
	margin:0;
	padding:0;
}

/*------------------------- 带交错F行的表格 ------------------------*/
.table_list{border:1px solid #B2CCDD; border-collapse:collapse; width:100%; align:center; font-size: 12px;}
.table_list td{
	height:25px; line-height:25px; border:1px solid #B2CCDD; text-decoration:none; text-align:center; white-space:nowrap;
}
.table{border-left:1px solid #B2CCDD; border-right:1px solid #B2CCDD; border-collapse:collapse;} 
.aa{height:25px; border:1px solid #B2CCDD; text-decoration: none; text-align: center;  font-size: 12px; background-color:#e1edf5;}
.table_list th, .headline{color:#0C2742;background:url('../public/images/table_list_header_bg.gif') repeat-x left top;height:24px;line-height:24px;text-align:center;font-weight:800;border-right:1px solid #B2CCDD; white-space:nowrap;}
/*.table_list tr.odd{background:#E3F0F9;}
.table_list tr.even{background-color:#EFF8FC;}*/
.table_list tr.odd{background:#E5EEF5;}
.table_list tr.even{background-color:#FFF;}

.table_across{ padding-top:10px; border:1px dotted #3A93CD; }
.table_across tr{ background-color:expression((this.sectionRowIndex%2==0)?"#E3F0F9":"#EFF8FC");}
.table_across td{  font-size:12px; height:25px; line-height:25px;}

.table_list_control{ font-size:12px; height:26px;}
.table_list_control span{ padding-left:10px; padding-right:10px; text-align:center;}

.table_list_control a:havor{ border:#FF0000;}
.table_list_control input{ background-color:#EFF8FC; border:1px solid #1a7cba;}

#form_div{ margin-left:auto; margin-right:auto;  width:95%; padding-top:5px;text-align:center;	position: relative;}
.title1{ margin-left:auto; margin-right:auto;  width:95%; text-align:center;	position: relative;}
.table_title{border-bottom:1px solid #1a7cba; border-top:0px; border-left:0px; border-right:0px;
	 width:100%; background-color:transparent;  }  /*网页上部的名称表格*/
.table_title td{border:0px; height:3px;}
.table_title td.left{background:0; width:250px;}
.table_title td.name{ background-color:transparent; height:15px; font-size: 13px; font-weight:bold; color:#0861A5; text-align:left;
	vertical-align:baseline; padding-left:10px;}

.table_down{ border-top:1px solid #1a7cba; border-bottom:0px; border-left:0px; border-right:0px; width:100%;
	background-color:transparent; }　　　/*网页下部的公司落款表格*/
.table_down td{border:0px; height:5px;}
.table_down td.right{background:url(../images/tableline-01.jpg); width:300px; height:5px;}
.table_down td.Co{width:300px; height:25px; font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:right; color:#999999;}

.table_add{border-collapse:collapse; width:100%;}   /* 自动增加的表格 */
.table_add td{height:30px; border-left:1px solid #1a7cba; border-right:1px solid #1a7cba; border-bottom:1px solid #1a7cba;
	text-decoration: none; text-align: center; vertical-align: middle; font-family: "宋体"; font-size: 12px; background-color:#e1edf5; }

.middle_content{ margin-left:auto; margin-right:auto; width:95%; padding-top:5px; height:28px; position: relative;}
.middle_content a{font-size: 14px;color:#000000;text-decoration: none;display:block;width:97px;height:28px;line-height:28px;
                  text-decoration:none;background:url(../images/button-01.jpg) no-repeat 0 0;text-align: center; cursor:pointer;}
.middle_content a:hover{font-size: 14px;color:#000000;}
.middle_content1{ margin-left:auto; margin-right:auto; width:95%; padding-top:5px; height:28px; position: relative; font-size: 14px;}
.middle_content1 a{font-size: 14px; color:#000000; text-decoration: none; display:block; width:137px; height:28px; line-height:28px;
                  text-decoration:none; background:url(../images/button-03.jpg) no-repeat 0 0; text-align: center;}
.middle_content1 a:hover{font-size: 14px; color:#FF0000;text-decoration: none; display:block; width:137px; height:28px;line-height:28px;
                    	background:url(../images/button-03a.jpg) no-repeat 0 0;	text-align: center;}

.table_buttom{ border:0px; border-collapse:collapse;   background:transparent; width:100%; }   /*可用作无边框表格*/
.table_buttom td{border:0px;}
.table_buttom td.buttom{ border:0px; width:105px; text-align:right;}

#container_div, #list_div, #roles_table_list_div, #persons_list_div{
	 padding-top:5px; width:100%; text-align:center;}
.control_bar{
	margin-left:auto; margin-right:auto;  
	width:95%; 
	position: relative; 
	margin-top:3px;
	font-size:12px; text-align:left;
	background-color:#E3F0F9; 
	border:1px solid #1a7cba; 
	height:25px; 
	line-height:25px; 
	padding-top:1px; vertical-align:middle;
	}
.buttom_div{padding-top:3px; text-align:right; height:30px; line-height:30px;}
.buttom_div input{ padding-left:3px;}
.buttom_div .information_span{ height:25px; line-height:25px; border:1px solid #1a7cba; display:block; float:left; width:55%; text-align:left; padding-left:5px; background-color:#E3F0F9;}
.button_div_solely{padding-top:3px; text-align:right; width:95%; }


/*--------------------- form 表单 ---------------------*/

.formtable{ border:1px solid #1a7cba; width:100%; font-size:12px; text-align:center; background-color:#e1edf5;}
.formtable td{	text-decoration: none;	vertical-align:middle;	background-color:#e1edf5;} 
.formtable td.head{ height:30px; background:url(../images/formhead.jpg) repeat-x; font-size:14px; text-align:left;
	 vertical-align:middle; color::#286d9a; padding-left:20px;}
.formtable td.down{ height:30px; background:url(../images/formdown.jpg) repeat-x;}
.formtable1{border:1px dotted #3A93CD; }
.formtable1 tr{ background-color:expression((this.sectionRowIndex%2==0)?"#C4DEF0":"#e1edf5");}
.formtable1 td{  font-size:12px; height:25px; line-height:25px;}
.formtable1 span{ margin-bottom:3px; width:100%;}
.formtable2{}
.formtable2 tr{ background:transparent;}
.formtable3{border-top:1px solid #3A93CD; border-left:1px solid #3A93CD; }
.formtable3 tr{ background-color:expression((this.sectionRowIndex%2==0)?"#C4DEF0":"#e1edf5");}
.oddtr{background-color:#C4DEF0;}
.unoddtr{background-color:#e1edf5;}
.formtable3 td{  font-size:12px; height:25px; line-height:25px; border-bottom:1px solid #3A93CD; border-right:1px solid #3A93CD;}

/*---------按钮----------*/
.button1, .button2, .button3, .button input{ background:url(../images/button-background2a.jpg) no-repeat right top; font-size:12px; height:20px; line-height:20px; border:0px; cursor:pointer; padding-top:0px !important; padding-top:1px; text-align:center; display:inline-block;}
.button_link{ background:url(../images/button-background2.jpg) no-repeat left top; height:20px; line-height:20px; border:0px; cursor:pointer; display:inline-block;}
.button a{ background:url(../images/button-background2a.jpg) no-repeat right top; font-size:12px; height:20px; line-height:20px; border:0px; cursor:pointer; text-align:center; padding-right:10px; display:inline-block; margin-left:10px; margin-top:}
.button a:hover{ color:#000000;}
.button{ background:url(../images/button-background2.jpg) left top; height:20px; line-height:20px; display:inline-block;}

.button_infile{border:1px solid #1a7cba; background:url(../images/file_buttonback1.jpg) repeat-x; height:18px; line-height:18px; color:#000000; text-align:center; cursor:pointer; font-size:12px;}

.space{	padding-top:3px; padding-bottom:3px; position: relative;}　　/* 制造行间距 */
.space1{padding-top:3px; padding-bottom:3px; position: relative;}

.menu_title{ background:url(../images/title_back.jpg); height:24px; width:180px;}

.head_form{ height:auto !important; height:40px; background:url(../images/formhead.jpg) repeat-x top; border:1px solid #1a7cba;}
.down_form{ background:url(../images/formdown.jpg) repeat-x bottom;}
.background_form{ margin-top:20px; background-color:#e1edf5;}
.content_form{ padding-bottom:20px;}

.select_2{ display:none;}


/*-------------- plan/person_select.jsp, transform_person_select.jsp --------------*/

#query_params_div{ margin-left:auto; margin-right:auto; border:1px solid #1a7cba; width:95%;text-align:center; vertical-align:middle;}
.odd_div{ padding-top:3px; padding-bottom:3px; background-color:#E3F0F9;}
.even_div{padding-top:3px; padding-bottom:3px; background:#EFF8FC; border-top:1px solid #1a7cba;}
#button_div{margin-left:auto; margin-right:auto; width:95%; padding-top:3px; text-align:right;}
#persons_list_div{ margin-left:auto; margin-right:auto; padding-top:3px; width:95%;}
.buttonline{padding-top:3px;}
#multi_sel_div, .user_table{ margin-left:auto; margin-right:auto; padding-top:3px; width:95%; text-align:center;
	border-bottom:1px solid #1a7cba; border-left:1px solid #1a7cba; border-right:1px solid #1a7cba; background:#EFF8FC;}
#multi_sel_text, .user_table_text{padding-top:3px;  padding-bottom:3px;}

#select_item_invalidation{ width:600px;; text-align:left;}
#select_item_invalidation ol{ }
#select_item_invalidation ol li{ padding-top:3px; }

/*---------------类似网易的带标签的层及表格,manage_my_train_plans.jsp---------------*/

#main_div{  padding-top:5px; width:95%; position: relative; text-align:center;}
#main_div1{ padding-top:5px; width:95%; position: relative; text-align:left;}
#tab1{ width:100%; margin-left:0px; margin-right:0px;}

ul.ul_1{margin:0; list-style:none; text-align:left;height:25px; line-height:25px; padding-left:0px; padding-top:0px;border-bottom:1px solid #1a7cba;}
ul.ul_1 li {display:inline; height:22px; padding-left:0px; float:left; margin-right:1px;}
ul.ul_1 a{ float:left; background:url(../images/tab_left_a.gif) no-repeat left top; text-decoration:none; height:22px;
	padding-left:8px; color:#999999; font-size:12px;}
ul.ul_1 span{ float:left; display:block; background:url(../images/tab_right_a.gif) no-repeat right top; height:22px; padding-right:10px;}
ul.ul_1 li.unlink{display:inline; height:20px; padding-left:0px; font-weight:bold;}
ul.ul_1 li.unlink a{ float:left; background:url(../images/tab_left.gif) no-repeat left top; text-decoration:none;
	height:22px;padding-left:8px;color:#055487; font-size:12px; font-weight:bold;}
ul.ul_1 li.unlink span{ float:left; display:block; background:url(../images/tab_right.gif) no-repeat right top; height:22px; padding-right:10px;}
ul.ul_1 a:hover{text-decoration: underline; font-size:12; color:#FF0000}
ul.ul_1 a:visited{ font-size:12px;}
ul.ul_1 a:hover{ font-size:12px;}

#tab2{ width:100%;visibility:hidden; position:absolute; margin-left:0px; margin-right:0px;}

#tab3{ width:100%;visibility:hidden; position:absolute; margin-left:0px; margin-right:0px;}

.tab_down{width:100%; margin-top:5px;  margin-left:0px; margin-right:0px;}

#tab4{position:absolute; margin-top:30px; width:100%;}
#table_list_div{ text-align:center; width:100%;}

.action{ cursor:pointer;}
.action a{}
.action a:hover{color:#FF0000;}


/*---------------paper.js，exam.jsp---------------*/

#paper_div{ margin-left:auto; margin-right:auto; padding-top:10px; width:92%; position: relative;
	margin-top:5px;	border:1px dotted #1a7cba;
	background-color:#ebf3f8; text-align:left;}
.paper_span{ display:inline;}
.paper_title{height:20px; vertical-align: middle; background-color:#78bdea; border-bottom:1px solid #1a7cba; border-top:1px solid #1a7cba;
	color:#ffffff; font-size: 14px; font-weight:bold;text-align:left; padding-top:5px; padding-left:20px;}
.paper_problem_table{ margin-left:auto; margin-right:auto; margin-top:6px; margin-bottom:6px;
	border:1px solid #1a7cba; width:96%; text-align:left; position: relative;
	padding-left:30px; padding-top:10px; padding-bottom:5px; background-color:#d9ecf8; font-size:14px;}
.paper_problem_table td{}


/*---------------schemeedit.jsp---------------*/

.problemset{ margin:6px 0px 6px 0px;  border-collapse:collapse;}
.problemset th{ border:1px solid #1a7cba; color:#ffffff; font-size: 14px; background-color:#78bdea;}
.problemset tr{height:25px;}
.problemset td{background:#FFF;border:1px solid #1a7cba; background:#E3F0F9; text-align:center;}
.problemset .text{height:12px; width:13px;line-height:12px; border:1px solid #1a7cba; text-align:right; font-size: 12px;}
.problemset .score{margin-left:4px;height:12px; width:13px;line-height:12px; border:1px solid #1a7cba; text-align:right; font-size: 12px;}


/*------------------------- 考试管理 ------------------------*/	
.table_exam { border:1px solid #1a7cba; border-collapse:collapse; width:100%; align:center; }
.table_exam td{ border:1px solid #1a7cba; }
.exam_cell { align:center; font-size:12px; color:#000000; font-weight:bold; }
.exam_username a{ font-size:12px; color:#000000; font-weight:bold;}
.exam_username a:hover{	font-size:12px;	color:#FF0000; font-weight:bold; text-decoration: underline;}

.table_exam tr{ border:1px solid #1a7cba; height:35px; background-color:#E3F0F9; }
.exam_head { align:center; font-size:14px; color:#000000; font-weight:bold; background-color:#E3F0F9; }
.exam_row { align:center; font-size:12px; color:#000000; background-color:#ffffff; }

.menu_content {
}

/*----------------页面最开始的标题---------------*/
.headtitle{
	margin-left:auto; margin-right:auto; padding-top:15px;
	width:95%; height:25px; vertical-align:bottom;
	border-bottom:1px solid #1a7cba;
}
.headtitle .name{
	background:url(../images/news_icon.gif) no-repeat left;
	display:block; float:left;
	padding-left:15px; padding-right:10px;
	font-size:13px; font-weight:bold; color:#286d9a;
	border-bottom:3px solid #1a7cba;
	height:22px; line-height:22px; vertical-align:bottom;
}
.headtitle .search{
	display:block; float:right;
	padding-left:20px; height:18px; line-height:18px;
}

.linespace{ margin-top:5px;}

/*页面顶部的搜索栏*/
.topsearch{text-align:right; height:18px; line-height:18px; display:table-cell; font-size:12px; vertical-align:middle;}
.button_search{background:url(../images/button-background3.jpg) left top; height:18px; line-height:18px; display:inline-block;}
.button_search input{background:url(../images/search.jpg) no-repeat right top; font-size:12px; height:18px; width:18px; line-height:18px; border:0px; cursor:pointer; padding-top:0px !important; padding-top:1px; text-align:center; display:inline-block;}

.pagecontrol{
	text-align:right;
	height:25px; line-height:25px;
	margin-bottom:3px; padding-top:2px;margin-right:3px;padding-right:2px;
}
.pagecontrol span{
	margin-left:20px;
}
.pagecontrol span input{
    border:1px solid #1a7cba; height:18px; line-height:18px; width:30px; font:12px; background-color:#D0F0FF;
}




